<p id="notice"><%= notice %></p>

<h1>Doctor Profiles <% if params[:tag] %>- <%= params[:tag] %><% end %></h1>
<% @tags.each do |tag| %>
	<%= link_to tag.name, doctor_profiles_path(tag: tag.name), class: 'btn btn-info btn-sm' %>
<% end %>
<%= link_to 'All Doctors', doctor_profiles_path, class: 'btn btn-warning btn-sm' %>


<table class="table table-hover">
 <tbody>
    <% @doctor_profiles.each do |doctor_profile| %>
      <tr>
        <td><%= image_tag doctor_profile.photo, width: '80px', class: 'img-responsive' %></td>
        <td><%= link_to doctor_profile.doctor_identity, doctor_profile %></td>
      </tr>
    <% end %>
  </tbody>
</table>

