<p id="notice"><%= notice %></p>

<h1>Listing Patient Profiles</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Phone</th>
      <th>Medicare number</th>
      <th>Address</th>
      <th>Suburb</th>
      <th>State</th>
      <th>Postcode</th>
      <th>Country</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @patient_profiles.each do |patient_profile| %>
      <tr>
        <td><%= patient_profile.user %></td>
        <td><%= patient_profile.first_name %></td>
        <td><%= patient_profile.last_name %></td>
        <td><%= patient_profile.phone %></td>
        <td><%= patient_profile.medicare_number %></td>
        <td><%= patient_profile.address %></td>
        <td><%= patient_profile.suburb %></td>
        <td><%= patient_profile.state %></td>
        <td><%= patient_profile.postcode %></td>
        <td><%= patient_profile.country %></td>
        <td><%= patient_profile.latitude %></td>
        <td><%= patient_profile.longitude %></td>
        <td><%= link_to 'Show', patient_profile %></td>
        <td><%= link_to 'Edit', edit_patient_profile_path(patient_profile) %></td>
        <td><%= link_to 'Destroy', patient_profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Patient profile', new_patient_profile_path %>
